<!-- <div [ngStyle]="locationStyle" [formFieldStyle]="color" [tabindex]="formField.location.tabOrder" (focus)="gotFocus()" (blur)="lostFocus()"> -->
<div [ngStyle]="locationStyle" >
    <edit-field *ngFor="let model of editGroup.fields" 
        [model]="model" 
        [class.active]="editGroup.active"
   >
    </edit-field>
</div>

<!-- <span class="helpIcon glyphicon glyphicon-question-sign" title="What is this?" [ngStyle]="editingStyle"></span>
<span class="helpIcon glyphicon glyphicon-wrench" title="Debug Information" [ngStyle]="editingStyle"></span> -->