<!-- <div [ngStyle]="locationStyle" [formFieldStyle]="color" [tabindex]="formField.location.tabOrder" (focus)="gotFocus()" (blur)="lostFocus()"> -->
<div>
    <div *ngIf="active" [ngStyle]="editingStyle">
        <!-- <edit-field *ngFor="let field of this.editGroup.fields" [editField]="field" [class.active]="this.editGroup.active"
            (fieldActive)="fieldActive($event)">
        </edit-field> -->
    </div>
</div>

<!-- <span class="helpIcon glyphicon glyphicon-question-sign" title="What is this?" [ngStyle]="editingStyle"></span>
<span class="helpIcon glyphicon glyphicon-wrench" title="Debug Information" [ngStyle]="editingStyle"></span> -->