<!-- <div [ngStyle]="locationStyle" [formFieldStyle]="color" [tabindex]="formField.location.tabOrder" (focus)="gotFocus()" (blur)="lostFocus()"> -->
<div [ngStyle]="locationStyle" >
    <edit-field *ngFor="let editField of editGroup.fields" 
        [editField]="editField" 
        [class.active]="editGroup.active"
        (fieldActive)="fieldActive($event)"
        (bubbleLeaving)="catchLeaving($event)"
        (bubbleEdit)="catchEdit($event)"
   >
    </edit-field>
</div>

<!-- <span class="helpIcon glyphicon glyphicon-question-sign" title="What is this?" [ngStyle]="editingStyle"></span>
<span class="helpIcon glyphicon glyphicon-wrench" title="Debug Information" [ngStyle]="editingStyle"></span> -->