/* .pdfdisplay {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
} */
/* .controls{
    display: inline-block;
    vertical-align: top; 
    align-content: right;
} */

.panel.with-nav-tabs .panel-heading {
    padding: 0px;
    border-bottom: none;
} 

.btn-toolbar {
    padding: 5px;
}

.formView {
    position: absolute;
    z-index: 99;
}

.pdfView {
    position: absolute;
    z-index: 1;
}

/* .pdfPage {
    position: absolute;
    z-index: 99;
    background:rgba(255,255,255,0.5);
    width:1019px;
    margin:0 auto;
} */