<ul class="nav nav-tabs">
  <li *ngFor="let page of pages" (click)="selectPage(page)" [class.active]="page.active">
    <a href="#">{{page.PageLabel}}</a>
  </li>
</ul>
<!-- <pdf-viewer #pdfViewer [src]="'assets/247WI.PDF'" [(page)]="page" [rotation]="rotation" [original-size]="originalSize" [show-all]="showAll"
(after-load-complete)="afterLoadComplete($event)" [zoom]="zoom" [render-text]="false">
</pdf-viewer> -->

<div class="pdfdisplay">
    <display-pdf #viewer [pdfSrc]="" [zoom]="1.25" [showAll]="false" style="display:block"></display-pdf>
</div>