<style>
  .panel.with-nav-tabs .panel-heading {
    padding: 0px;
    border-bottom: none;
  }

  .btn-toolbar {
    padding: 5px;
  }

  .editView {
    position: absolute;
    z-index: 99;
  }

  .pdfView {
    position: absolute;
    z-index: 1;
  }
</style>

<div class="tab-content">
  <div class="editView">
    <edit-page *ngFor="let page of documentModel.pages" [editPage]="page" [class.active]="false"></edit-page>
  </div>
  <div class="pdfView">
    <edit-pdf-viewer #viewer [zoom]="1" (scaleChange)="setScale($event)"></edit-pdf-viewer>
  </div>
  <div [ngStyle]="pageSize"></div>
</div>

