<div [ngStyle]="locationStyle"> 
<!-- <div  
    [formFieldStyle]="color" 
    [tabindex]="editField.location.tabOrder" 
    (focus)="gotFocus()" 
    (blur)="lostFocus()" 
    title="editField.name"> -->
    <div *ngIf="active" [ngStyle]="editingStyle" >
        <edit-text 
            [name]="editField.name" 
            [value]="editField.value" 
            (doneEditing)="doneEditing($event)"></edit-text>
    </div>
    <!-- {{editField.value}} -->
    <div >
        
    </div>
</div>

<!-- <span class="helpIcon glyphicon glyphicon-question-sign" title="What is this?" [ngStyle]="editingStyle"></span>
<span class="helpIcon glyphicon glyphicon-wrench" title="Debug Information" [ngStyle]="editingStyle"></span> -->