<div [ngStyle]="locationStyle" [tabindex]="tabIndex" 
     (click)="clicked()" 
     (keydown)="keyPressHandler($event)"
     [title]="editField.description"
     >
    <div [ngStyle]="{ 'position': 'absolute'}"> {{editField.value}}</div>
    <div [ngStyle]="{ 'position': 'absolute'}" 
         [hidden]="!active" 
         [ngSwitch]="editField.format">
        <edit-xbox *ngSwitchCase="3" 
            [name]="editField.name" 
            [value]="editField.value" 
            [width]="style.width"
            [height]="style.height"
            [title] = "editField.description"
            (leaveEdit)="handleChange($event)"
            >
        </edit-xbox>
        <edit-text-area *ngSwitchCase="4" 
            [name]="editField.name" 
            [value]="editField.value" 
            [width]="style.width"
            [height]="style.height"
            [title] = "editField.description"
            (leaveEdit)="handleChange($event)"
            >
        </edit-text-area>
        <edit-text *ngSwitchDefault 
            [name]="editField.name" 
            [value]="editField.value" 
            [format]="editField.format"
            [width]="style.width"
            [height]="style.height"
            [title] = "editField.description"
            (leaveEdit)="handleChange($event)"
            >
        </edit-text>
    </div>
</div>