<div class="btn-toolbar">
    <h1>{{editDocument.noOfPages}}</h1>
    <div *ngIf="editDocument.noOfPages > 1" class="btn-group pull-right" role="navigate">
      <button type="button" (click)="movePage(true)" class="btn btn-primary btn-round">
        Next
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
    <div *ngIf="editDocument.noOfPages> 1" class="btn-group pull-left" role="navigate">
      <button type="button" (click)="movePage(false)" class="btn btn-primary btn-round pull-right">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Previous
      </button>
    </div>

    <div class="btn-group pull-left" role="preferences">
        <button type="button" (click)="toggleLock()" class="btn btn-primary btn-round">
          Lock 
          <span class="glyphicon glyphicon-lock"></span>
        </button>
        <button type="button" (click)="toggleShade()" class="btn btn-primary btn-round">
            Shade 
            <span class="glyphicon glyphicon-modal-window"></span>
          </button>          
    </div>  

    <div class="btn-group pull-right" role="zoom">
      <button type="button" (click)="incrementZoom(false)" class="btn btn-primary btn-round"> 
        <span class="glyphicon glyphicon-zoom-out"></span>
      </button>
      <button type="button" (click)="resetZoom()" class="btn btn-primary btn-round">
        Zoom
      </button>
      <button type="button" (click)="incrementZoom(0.2)" class="btn btn-primary btn-round">
        <span class="glyphicon glyphicon-zoom-in"></span>
      </button>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <h1 ng-repeat="x in editDocument.noOfPages">{{x}}</h1>
    <li *ngFor="let page of editDocument.pages" (click)="setPage(page.pageNo)" [class.active]="page.active" [class.disabled]="page.disabled">
      <a href="#">{{page.pageNo}}</a>
    </li>
  </ul>
